<!DOCTYPE html>
<html>
<head>
	<title>Toronto Waste Lookup</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
	<div class="header">
		<div class="header_text"><b>Toronto Waste Lookup</b></div>
	</div>
	<form action="" method="get">
		<div class='search'>
			<span class='textbox_contain'>
				<input placeholder="example 'Takeout'" type="text" name="search" class='textbox' <% if(locals.body){%>value=<%=body.search%><%}%> >
			</span>
			<span class='search_button_contain'>
				<input type="submit" alt="Submit" class='search_button' value="">
			</span>
		</div>
	</form>
	<div class='results'>
			<%
				if(locals.hits){
					for(var i in hits){ %>
						<div class='result_entry'>
							<div class='left'>
								<span onclick='add_fav("<%-i%>")' class="star"><i <% if(favs[i]){%>class="fas fa-star green"<%} else {%> class="fas fa-star"<%}%>></i></span>
								<span class='entry_name'><%=hits[i].title%></span>
							</div>
							<div class='right'>
										<%-decode(hits[i].body)%>
							</div>
						</div>
						<%
					}
				}else{%>
				<div class="empty_search_container">
					<div class = "empty_search"><b>Type in the Search Bar to Begin</b></div>
				</div>
				<%}
				%>
	</div>
	<div class='favourites'>
		<div class= 'fav_title'><b>Favourites</b></div>
		<div class='fav_results'>
			<%
				if(Object.keys(favs).length !== 0){
					for(var i in favs){ %>
					<div class='result_entry'>
						<div class='left'>
							<span onclick='add_fav("<%-i%>")' class ='star'><i class="green fas fa-star"></i></span>
							<span class='entry_name'><%=favs[i].title%></span>
						</div>
						<div class='right'>
							<%-decode(favs[i].body)%>
						</div>
					</div>
					<%
				}
			}else{%>
			<div class="empty_icon_container">
				<div class = "empty_icon"><b>Click on a star to Favourite</b></div>

			</div>
			<%}
					%>
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	function add_fav(id){
		<%
		if(locals.hits){ %>
			var hits = '<%-JSON.stringify(hits)%>'
		<% }else{ %>
			var hits = "{}"
		<%}%>
		$.post("/favourite", {new: hits, id: id}, function(result){
			location.reload();
		});
	}
</script>
</html>
